/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden; /* Clearfix */
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header img {
    width: 25%;
    height: auto;
    vertical-align: middle;
    position: absolute;
    left: 20px;
    top: 10px;
}

header h1 {
    display: inline;
    font-size: 24px;
    margin-left: 10px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 8px ;
    width: 100%;
}

footer p {
    margin: 0;
}

/* academics.css */

#departments ul {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#departments ul li {
    font-size: 20px;
    margin: 10px 0;
}

#departments ul li ul {
    padding-left: 20px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    header img {
        width: 40px;
    }

    header h1 {
        font-size: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header img {
        width: 30px;
    }

    header h1 {
        font-size: 18px;
    }

    nav ul li {
        font-size: 16px;
    }
}