/* gallery.css */


body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #fdfdfd;
    margin: 0;
    padding: 30;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header img {
    width: 25%;
    height: auto;
    vertical-align: middle;
    position: relative;
    left: 20px;
    top: 10px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}


.gallery img {
    width: 45%; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    margin: 10px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap:7px;
    justify-content: center;
}

@media (max-width: 768px) {
    #gallery img {
        width: 80px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    #gallery img {
        width: 80px;
        height: 60px;
    }
}